---
layout: base
tags: nav
title: About Me
navtitle: About
navorder: 4
permalink: about/index.html
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Hey there.</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image js-responsive-image"
                        src="{{ '/assets/images/apurv-mishra-800.jpg' | url }}"
                        srcset="{{ '/assets/images/apurv-mishra-800.jpg' | url }} 800w, 
                        {{ '/assets/images/apurv-mishra-1600.jpg' | url }} 1600w"
                        sizes="(min-width: 940px) 40vw, 100vw"
                        alt="Apurv Mishra"
                    />
                </div>
                <div class="about__intro lead">
                    <p>I’m Apurv Mishra, a computer science student at University of Edinburgh, and currently working as a backend developer for an Edinburgh based startup.</p>
                    <p>
                        I've been building stuff on computers for the most part of my life, working with different languages, softwares and projects.
                    </p>
                    <p>My focus is on creating engaging, accessible &amp; performant technology for humans.</p>
                    <p>I am a data science enthusiast and try to combine my knowledge with machine/deep learning techniques to make practical projects.</p>
                </div>
            </div>
            <div class="about__content markdown">
                <h2>Work</h2>
                <p>
                    I work at <a href="https://feelzesty.com">Zesty</a>, a startup with a vision to disrupt food industry in Edinburgh, UK.
                </p>
            
                <h2>Writing</h2>
                <p>
                    I like writing about life, work and tech on my blog.
                </p>
                
                <h2>Offline</h2>
                <p>
                    When I am not writing code or doing coursework, I enjoy 
                    <a href="https://drive.google.com/open?id=1JwAXFiOfUt9J5T6XrVLBVCx_rgMMsy-3&usp=sharing">travelling</a>, feel good/ comedy movies, sports of all kinds and cooking.
                </p>

                <h2>Online</h2>
                <ul class="about__social">
                    <li>{% icon "twitter" %}<a href="{{ author.social.twitter.url }}">Twitter</a></li>
                    <li>{% icon "github" %}<a href="{{ author.social.github.url }}">Github</a></li>
                    <li>{% icon "linkedin" %}<a href="{{ author.social.linkedin.url }}">Linkedin</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>