---
layout: base
tags: nav
title: About Me
navtitle: About
navorder: 4
permalink: about/index.html
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Hey there.</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image js-responsive-image"
                        src="{{ '/assets/images/apurv-mishra-800.jpg' | url }}"
                        srcset="{{ '/assets/images/apurv-mishra-800.jpg' | url }} 800w, 
                        {{ '/assets/images/apurv-mishra-1600.jpg' | url }} 1600w"
                        sizes="(min-width: 940px) 40vw, 100vw"
                        alt="Apurv Mishra"
                    />
                </div>
                <div class="about__intro lead">
                    <p>I’m Apurv Mishra, a computer science student at University of Edinburgh, and I'm currently interning as a Software Engineer for Gambit Research.</p>
                    <p>
                        I've been building stuff on computers for the most part of my life, working with different languages, softwares and projects.
                    </p>
                    <p>I try to create engaging, accessible &amp; performant software for all humans.</p>
                    <p>Working with interesting technology, and on practical issues motivates me to code every single day. The process of going from an idea to published product is nothing short of working on a art piece for me.</p>
                </div>
            </div>
            <div class="about__content markdown">
                <h2>Work</h2>
                <p>
                    I currently work at <a href="https://gambitresearch.com" target="_blank" >Gambit Research</a>. It's chiefly a trading firm focused on the sports betting market UK, but we works as a consultancy as well. I am working in the trading stratagies team right now.
                </p>
                <h2>Hackathons</h2>
                <p>
                    I am a massive fan of hackathons and attend one atleast one in two weeks. You can view some of the projects I have created over here at my <a href="https://www.devpost.com/apurvmishra99" target="_blank">Devpost</a>.
                </p>
                <h2>Work Opportunities/Collaboration</h2>
                <p> 
                    I am always on the lookout for interesting projects to work on, if you have something you wish to collaborate on then don't hesitate to shoot me a message. I am also on the lookout for internships/term time work in tech/finance firms. Whether its a startup or an established firm it doesn't matter to me until I am working on exciting projects and have chance to take responsibility. So if you want a highly motivated worker, who is also a team player and interested and works with all buzzwords like AI/ML, deep learning, data science etc. then please contact me.
                </p> 
                <p>
                    <span style="font-weight:bold;">PS</span>: I am a Pythonista and biased in favour of Python roles 😁.
                <h2>Writing</h2>
                <p>
                    I like writing about life, work and tech on my blog.
                </p>
                
                <h2>Offline</h2>
                <p>
                    When I am not writing code or doing coursework, I enjoy travelling, feel good/ comedy movies, sports of all kinds and cooking.
                </p>

                <h2>Online</h2>
                <ul class="about__social">
                    <li>{% icon "github" %}<a href="{{ author.social.github.url }}" target="_blank">Github</a></li>
                    <li>{% icon "linkedin" %}<a href="{{ author.social.linkedin.url }}" target="_blank">Linkedin</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>