---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">I make stuff happen.</h1>
        <p class="hero__pretitle"><a href="/about/">Hello, my name is Apurv</a></p>

        <div class="hero__content">
            <p>I’m a CS student at the University of Edinburgh and work as a backend developer for <a href="https://feelzesty.com" class="hero__link hero__link--simpleloop">Zesty</a>, a startup in Edinburgh. <br class="hero__br" />
            I also write about my life and various thingss tech on my <a href="/blog" class="hero__link">Blog</a> and on <a href="{{ author.social.twitter.url }}" class="hero__link hero__link--twitter">Twitter</a>.</p>
        </div>
    </div>
</div>
