---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">I make stuff happen.</h1>
        <p class="hero__pretitle"><a href="/about/">Hello, my name is Apurv</a></p>
        <div class="hero__content">
            <p>I’m a Product Engineer at <a href="https://metaview.ai" class="hero__link hero__link--simpleloop">Metaview</a>, where we are building the world’s best AI scribe and recruiting tools. I studied Computer Science at The University of Edinburgh and have worked at Stripe and Capstone Investment Advisors before. <br class="hero__br" />
            I also write about my life and various things tech on my <a href="/blog" class="hero__link">Blog</a></p>
        </div>
    </div>
</div>
